    <div class="footer__credits">
      <span>
        <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
      </span>
      <% if (themeCustom === 'ecom-beauty') { %>
        <div class="ecom-credits-container">
          <div class="ecom-credits">
            <a href="https://e-com.plus" target="_blank" rel="noopener">
              <img
                src="https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/ecom-credits-white.png"
                alt="E-Com Plus"
                width="125.42"
                height="20"
              >
            </a>
          </div>
        </div>
      <% } %>
      <button
        id="go-to-top"
        class="btn btn-primary ml-3"
        type="button"
        aria-label="<%= _.dictionary('goToTop') %>"
      >
        <i class="i-chevron-up"></i>
      </button>
    </div>

    <!-- Selo de reputação -->
    <div id="reputation-ra">
      <script type="text/javascript" id="ra-embed-reputation" 
        src="https://s3.amazonaws.com/raichu-beta/selos/bundle.js" 
        data-id="cW5aWnhENzJrMkpZUjBxNDppc2Vuc2F0" 
        data-target="reputation-ra" 
        data-model="2">
      </script>
    </div>

  </div>  
</footer>

<%- await include('@/layout/inc/ecom-credits') %>
